sass
°archive
_archive
.archive
venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
*.py[cod]
.DS_Store
merge.ps1
**/migrations/*
**/__pycache__/*
__temp_migrations
.env.dev
.env.prod
.env.prod.db
.idea
app/mediafiles
app/staticfiles
app/peel/migrations
.DS_Store

**/migrations/*
**/__pycache__/*
app/sona.log
